.contenedor{
    background-color:  rgb(190, 71, 190);
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

input[type="text"],
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: rgba(16, 183, 100, 0.989);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;

}